@model FBLARoverAgenda_Backend.Domain.Entities.LunchMenuItem.LunchMenuItem

@{
    Layout = null;
}


<dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndTime)
                </dd>
</dl>
    
<form asp-action="Delete" id="deleteForm">
                <input type="hidden" asp-for="Id"/>
</form>


